/* .center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}

.app-layout {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.app-layout .app-content{
    display: grid;
    margin : 0 auto;
    grid-template-columns:repeat(12, 72px);
    gap: 1.5em;
    max-width: 1128px;
    height: 100%;
} */

.app-layout {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas: 'sidebar navbar' 'sidebar content';
  min-height: 100dvh;
}

.app-layout .sidebar {
  grid-area: sidebar;
}
.app-layout .app-navbar {
  grid-area: navbar;
}
.app-layout .app-content {
  grid-area: content;
}

@media (max-width: 48rem) {
  .app-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
    grid-template-areas: 'navbar' 'content';
  }

  .app-layout .sidebar {
    display: none;
  }
}
